@import "/src/styles/imports/theme";
@import "/src/styles/imports/media-queries";

html,
body {
  padding: 0;
  margin: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
}

section {
  background: $navy;
  padding: $space-64 0;

  @include screen("tablet-and-desktop") {
    padding: $space-80 0;
  }
}

.dark {
  background: $darkNavy;
}

main {
  min-height: calc(100vh - 100px);
}

.slick-slider {
  max-width: 100%;
}

.mob-hide {
  @include screen("tablet-and-mobile") {
    display: none;
  }
}

.mobAndLaptop-hide {
  display: none;
  @include screen("desktop") {
    display: inherit;
  }
}
