html,
body {
  padding: 0;
  margin: 0;
  font-family: $font-secondary;
}

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
}

section {
  padding: $space-96 0;

  &.compact {
    padding: $space-32 0;
  }
}

main {
  min-height: calc(100vh - 100px);
}

.slick-slider {
  max-width: 100%;
}