html,
body {
  padding: 0;
  margin: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
}

section {
  padding: $space-120 0;

  &.compact {
    padding: $space-32 0;
  }
}

main {
  min-height: calc(100vh - 100px);
}

.slick-slider {
  max-width: 100%;
}

.mob-hide {
  @include screen("tablet-and-mobile") {
    display: none;
  }
}

.mobAndLaptop-hide {
  display: none;
  @include screen("desktop") {
    display: inherit;
  }
}

.slick-list {
  padding: 0 0 0 20% !important;
  margin: 0 -$space-16;
  .slick-slide {
    margin: 0 $space-16;
    img {
      width: 100%;
    }
  }
}

// .slick-slide {
//   margin: 0 27px;
// }

// /* the parent */
// .slick-list {
//   margin: 0 -27px;
// }
