html {
  font-family: $font-secondary;
  font-size: 62.5%;
}

body,
li,
ol,
a {
  font-size: $fs-22;
  color: $type-primary;
  line-height: $line-height-normal;
}

p {
  font-family: $font-secondary;
  font-size: $fs-18;
  color: $type-primary;
  margin: $space-16 0;
  font-weight: $font-weight-normal;
  line-height: $line-height-normal;

  @include screen("tablet-and-desktop") {
    font-size: $fs-22;
  }
}

a {
  color: $teal;
  font-weight: $font-weight-bold;
}

// Standards
h1,
h2,
h3,
h4,
h5 {
  font-family: $font-primary;
  line-height: $line-height-normal;
  color: $type-primary;

  span {
    font-size: inherit;
    font-family: inherit;
    color: inherit;
  }
}

//---Standardised margins---//

//---Sizing / Weight---//
h1 {
  font-size: $fs-55;
  font-weight: 700;

  @include screen("tablet-and-mobile") {
    font-size: $fs-35;
  }
}

h2 {
  font-size: $fs-42;
  font-weight: 700;

  @include screen("tablet-and-mobile") {
    font-size: $fs-32;
  }
}

h3 {
  font-size: $fs-18;

  @include screen("tablet-and-mobile") {
    font-size: $fs-16;
  }
}

/*---Margin Modifiers---*/

h1,
h2,
h3,
h4,
h5,
span,
p {
  &.no--margin {
    @extend .no--margin;
  }

  &.margin--8 {
    margin: 0 0 $space-8 0;
  }

  &.margin--16 {
    margin: 0 0 $space-16 0;
  }

  &.margin--24 {
    margin: 0 0 $space-16 0;
    @include screen("desktop") {
      margin: 0 0 $space-24 0;
    }
  }

  &.margin--32 {
    margin: 0 0 $space-24 0;
    @include screen("desktop") {
      margin: 0 0 $space-32 0;
    }
  }

  &.margin--48 {
    margin: 0 0 $space-32 0;
    @include screen("desktop") {
      margin: 0 0 $space-48 0;
    }
  }

  &.margin--64 {
    margin: 0 0 $space-48 0;
    @include screen("desktop") {
      margin: 0 0 $space-64 0;
    }
  }
}

/*---General Modifiers---*/

.col--primary {
  color: $type-primary;
}

.col--secondary {
  color: $type-secondary;
}

.white {
  color: white;
}

.weight--bold {
  font-weight: 600;
}

.weight--regular {
  font-weight: 400;
}

.weight--light {
  font-weight: 300;
}

.font--primary {
  font-family: $font-primary;
}

.opacity--85 {
  opacity: 0.85;
}

.uppercase {
  text-transform: uppercase;
}

.no--margin {
  margin: 0;
}

.teal {
  color: $teal;
}

.error {
  color: $warning;
}

.italic {
  font-style: italic;
}

.no-line-height {
  line-height: 1;
}

.link {
  font-family: inherit;
  font-weight: 700;
  text-decoration: underline;
}

.centered {
  text-align: center;
}

.mobCentered {
  @include screen("tablet-and-mobile") {
    text-align: center;
  }
}

// --- Sizing Modifiers --- //

.fs--55 {
  font-size: 5.5rem;
}
.fs--42 {
  font-size: 4.2rem;
}
.fs--35 {
  font-size: 3.5rem;
}
.fs--32 {
  font-size: 3.2rem;
}
.fs--22 {
  font-size: 2.2rem;
}
.fs--18 {
  font-size: 1.8rem;
}
.fs--16 {
  font-size: 1.6rem;
}
.fs--14 {
  font-size: 1.4rem;
}
.fs--12 {
  font-size: 1.2rem;
}

// --- Line height Modifiers --- //
.lh--normal {
  line-height: $line-height-normal;
}
.lh--large {
  line-height: $line-height-large;
}

.body {
  &--xl {
    font-size: $body-md;
    @include screen("laptop") {
      font-size: calc($body-xl * 0.85);
    }
    @include screen("desktop") {
      font-size: $body-xl;
    }
  }

  &--lg {
    font-size: $body-sm;

    @include screen("laptop") {
      font-size: calc($body-lg * 0.85);
    }

    @include screen("desktop") {
      font-size: $body-lg;
    }
  }

  &--sm {
    font-size: $body-xs;
    @include screen("desktopAll") {
      font-size: $body-sm;
    }
  }

  &--xs {
    font-size: $body-xs;
  }
}

//---Lists---//
ul.non-styled {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    a {
      text-decoration: none;
    }
  }
}

ol {
  padding: 0 0 0 20px;

  li,
  p {
    margin: 0;
  }
}
