@import "/src/styles/imports/theme";
@import "/src/styles/imports/media-queries";

.project {
    overflow: hidden;
    position: relative;
    border-radius: $space-8;
    z-index: 1;
    cursor: pointer;

@include screen('tablet-and-desktop') {
    border: 2px solid #183666;
    border-radius: $space-16;
}

    &:after {
        position: absolute;
        content: "";
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(rgba(0, 0, 0, 0.1) 10%, rgba(0, 0, 0, 0.78) 80%);
        z-index: 2;
        transition: opacity 0.4s ease-in-out;

        @include screen("desktopAll") {
            opacity: 0;
        }
    }

    &:hover {
        &:after {
            opacity: 1;
        }

        .project__thumbnail {
            transform: scale(1.1);
        }

        .contentBox {
            transform: translateY(0);
        }
    }

    &__thumbnail {
        width: 100%;
        display: block;
        object-fit: cover;
        object-position: top;
        border-radius: $space-8;
        height: 305px;
        transition: transform 0.4s ease-in-out;

        @include screen('tablet-and-desktop') {
            border-radius: $space-16;
        }

        @include screen("laptop") {
            height: 410px;
        }

        @include screen("desktop") {
            height: 610px;
        }
    }
}

.halfSize {
    height: 305px;
    min-height: 0;

    @include screen("laptop") {
        height: 210px;
    }
}

.contentBox {
    position: absolute;
    bottom: 0;
    left: 0;
    height: auto;
    padding: $space-12;
    transition: transform 0.3s ease-in-out;
    z-index: 3;

    @include screen("desktopAll") {
        transform: translateY(105%);
        padding: $space-16;
    }
}

.techGroup {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    gap: $space-8;
}

.pill {
    width: fit-content;
    padding: 4px $space-8;
    border-radius: 20px;
    border: 1px solid white;
    background: rgba(0, 0, 0, 0.15);
    @include screen("desktopAll") {
        padding: 6px $space-16;
    }
}
