@import "/src/styles/imports/theme";
@import "/src/styles/imports/media-queries";

.sectionTitle {
    margin-bottom: $space-32;

    &__extraSpaceBottom {
        @include screen("tablet-and-desktop") {
            margin-bottom: $space-64;
        }
    }

    &__centered {
        @include screen("tablet-and-desktop") {
            text-align: center;
        }
    }
}
