@import "/src/styles/imports/theme";
@import "@/styles/imports/mixins";
@import "@/styles/imports/media-queries";

.button {
  background: rgba(255, 255, 255, 0);
  padding: $space-8 $space-16;
  display: block;
  text-align: center;
  color: white;
  width: fit-content;
  font-weight: 700;
  border-radius: $radius-md;
  border-width: 1px;
  border-style: solid;
  border-color: whtie;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, color 0.3s ease-in-out;

  &:hover {
    background: rgba(255, 255, 255, 0.2);
  }
}