@import 'styles/imports/theme';
@import 'styles/imports/mixins';
.buttonGroup {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 10px;
}

.centered {
  justify-content: center;
}

.left {
  justify-content: flex-start;
}

.right {
  justify-content: flex-end;
}

.fullWidth {
  .button {
    flex-grow: 1;
  }
}

.button {
  padding: 1em 2em;
  display: block;
  text-align: center;
  color: white;
  width: fit-content;
  font-size: 1.8rem;
  font-family: $font-primary;
  border-radius: $radius-sm;
  border-width: 2px;
  border-style: solid;
  border-color: $teal;
  text-decoration: none;
  cursor: pointer;
  transition: background-color .3s ease-in-out, border-color .3s ease-in-out, color .3s ease-in-out;
}

.buttonPrimary {
  @extend .button;
  background: $teal;

  @include hover() {
    background: darken($teal, 8%);
    border-color: darken($teal, 8%);
  }
}

.buttonSecondary {
  @extend .button;
  background: $navy;
  border-color: $navy;

  @include hover() {
    background: darken($navy, 8%);
    border-color: darken($navy, 8%);
  }
}

.buttonTertiary {
  @extend .button;
  background: $tertiary;
  border-color: $tertiary;

  @include hover() {
    background: darken($tertiary, 8%);
    border-color: darken($tertiary, 8%);
  }
}

.buttonOutlineWhite {
  @extend .button;
  background: rgba(255, 255, 255, 0);
  border-color: white;

  @include hover() {
    background: white;
    color: $navy;
  }
}

.smallButton {
  @extend .button;
  padding: .6em 2.9em;
}

.navButton {
  @extend .buttonPrimary;
  font-size: 1.5rem;
  padding: .5em;
}

.disabledButton {
  @extend .button;
  background: $disabled;
  color: $type-primary;
  border-color: $disabled;
}

.unStyledButton {
  @extend .button;
  background: rgba(0, 0, 0, 0);
  border: 0;
  padding: 0;
  margin: 0;
  color: $type-primary;
}