@import '/src/styles/imports/theme';
@import '/src/styles/imports/mixins';
@import '/src/styles/imports/media-queries';

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 $space-24;
  box-sizing: border-box;
  position: relative; 
}

.fullWidth {
  @extend .container;
  max-width: 100%;
  padding: 0;
}

.large {
  @extend .container;
  max-width: 1680px;
}
.standard {
  @extend .container;
  max-width: 1200px;
}
.narrow {
  @extend .container;
  max-width: 960px;
}
.copy {
  @extend .container;
  max-width: 720px;
}