@import 'styles/imports/theme';
@import 'styles/imports/mixins';

.form {

  label {
    display: block;
    margin: 0 0 $space-8 0;
  }

  input {
    background: white;
    height: $space-48;
    border: 1px solid $grey-16;
    border-radius: $radius-sm;
    box-sizing: border-box;
    width: 100%;
  }

  .grid__col2 {
    gap: $space-16;
    margin-bottom: $space-16;
  }
}