@import "/src/styles/imports/theme";
@import "/src/styles/imports/media-queries";

.aboutMe {
    background: $darkNavy;
}

.heading {
    @include screen("desktop") {
        max-width: 30ch;
    }
}

.content {
    &__intro {
        margin-bottom: $space-48;
        max-width: 800px;

        @include screen("desktop") {
            margin-bottom: $space-64;
        }
    }
}

.skillset {
    &__wrapper {
        display: grid;
        grid-template-columns: repeat(3, auto);
        gap: $space-48;
        @include screen("tablet-and-mobile") {
            grid-template-columns: 1fr;
            gap: $space-32;
        }
    }

    .columnHeading {
        font-weight: 400;
    }

    &__column {
        display: grid;
        grid-template-columns: repeat(3, auto);
        gap: $space-24 $space-24;
        margin-top: $space-16;
        width: fit-content;

        @include screen("tablet-and-mobile") {
            display: flex;
            flex-wrap: wrap;
        }

        @include screen("desktop") {
            margin-top: $space-24;
        }
    }

    .toolsColumn {
        @extend .skillset__column;
        grid-template-columns: repeat(2, auto);
    }

    &__tile {
        background: $lightNavy;
        display: flex;
        align-self: center;
        justify-content: center;
        width: 60px;
        height: 60px;
        border-radius: 10px;
        margin-bottom: 6px;
    }
}
