@import "/src/styles/imports/theme";
@import "@/styles/imports/mixins";
@import "@/styles/imports/media-queries";

.splash {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background: $navy;
    position: relative;
    overflow: hidden;
    z-index: 1;

    @include screen("laptop") {
        height: calc(100vh - $headerHeight);
    }

    @include screen("desktop") {
        height: 70vh;
    }

    p {
        max-width: 50ch;
    }
}
