@import "/src/styles/imports/theme";
@import "/src/styles/imports/media-queries";

.skillset {

    &__wrapper {
        margin-top: $space-64;
        display: flex;
        align-items: flex-start;
        position: relative;

        @include screen("tablet-and-mobile") {
            margin-top: $space-64;
            flex-direction: column;
            gap: $space-16 $space-32;
        }
    }

    &__column {
        display: flex;
        align-items: flex-start;
        gap: $space-24;
        flex-wrap: wrap;
        position: relative;

        @include screen("tablet") {
            gap: $space-32;
        }

        @include screen("desktopAll") {
            gap: $space-24;
        }
    }

    &__block {
        display: block;
        text-align: center;
    }

    &__tile {
        background: rgba($teal, .175);
        display: flex;
        align-self: center;
        justify-content: center;
        width: $space-40;
        height: $space-40;
        padding: $space-8;
        border-radius: 10px;
        margin: 0 auto 6px auto;
        box-sizing: border-box;

        @include screen("tablet-and-desktop") {
            width: $space-48;
            height: $space-48;
        }
    }
}
