@import "/src/styles/imports/theme";
@import "/src/styles/imports/media-queries";

.header {
  background: $navy;
  padding: $space-24 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  transition: padding .2s ease-in-out, box-shadow .2s ease-in-out;
}

.scrolled {
  @extend .header;
  padding: $space-8 0;
  box-shadow: 0 5px 6px 0px rgba(0, 0, 0, 0.2);
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.headerLogo {
  display: flex;
  align-items: baseline;
  cursor: pointer;

  img,
  a {
    transition: transform .2s ease-in-out;
    height: 60px;
  }
}

.headerLogoScrolled {
  @extend .headerLogo;
  
  img, a {
    transform: scale(.85)
  }
}

.nav {
  display: flex;
  align-items: center;
  gap: $space-32;
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    position: relative;

    a {
      color: white;
      padding: $space-16 0;
      text-decoration: none;
      font-weight: 600;
      font-size: inherit;
    }

    &:after {
      position: absolute;
      content: "";
      bottom: -6px;
      left: 0;
      width: 0;
      height: 2px;
      background: $teal;
      opacity: 0;
      transition: width .3s ease-in-out, opacity .2s ease-in-out;
    }

    &:hover {
      &::after {
        width: 100%;
        opacity: 1;
      }
    }
  }
}

/*--- Mobile styling ---*/
.header.mobile {
  height: $headerMobile;

  .nav {
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: $headerMobile;
    left: 0;
    width: 100%;
    height: calc(100vh - 62px);
    background: white;
    opacity: 0;
    padding-top: $space-96;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 0.15s;
    z-index: -1;

    &.navActive {
      opacity: 1;
      z-index: 1;
    }
  }
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 $space-16;
  cursor: pointer;
  z-index: 10;
  height: $headerMobile;
  display: flex;
  align-items: center;
  @include screen("tablet-and-desktop") {
    display: none;
  }
}
