@import "/src/styles/imports/theme";
@import "/src/styles/imports/media-queries";

.header {
  background: $navy;
  padding: $space-16 0;
  position: sticky;
  top: 0;
  z-index: 100;
  transition: padding 0.2s ease-in-out, box-shadow 0.2s ease-in-out;

  @include screen("tablet-and-desktop") {
    padding: $space-16 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
  }
}

.scrolled {
  @extend .header;
  padding: $space-8 0;
  box-shadow: 0 5px 6px 0px rgba(0, 0, 0, 0.2);
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  
  @include screen('mobileAll') {
    padding: 0 $space-16;
  }
}

.headerLogo {
  display: flex;
  align-items: baseline;
  cursor: pointer;

  img,
  a {
    transition: transform 0.2s ease-in-out;
    height: 30px;

    @include screen("tablet-and-desktop") {
      height: 60px;
    }
  }
}

.headerLogoScrolled {
  @extend .headerLogo;

  img,
  a {
    @include screen("tablet-and-desktop") {
      transform: scale(0.85);
    }
  }
}

.nav {
  display: flex;
  align-items: center;
  gap: $space-12;
  list-style: none;
  margin: 0;
  padding: 0;

  @include screen("tablet-and-desktop") {
    gap: $space-32;
  }

  .link {
    position: relative;

    a {
      color: white;
      text-decoration: none;
      font-weight: 600;
      font-size: inherit;
    }

    &:after {
      position: absolute;
      content: "";
      bottom: -6px;
      left: 0;
      width: 0;
      height: 2px;
      background: $teal;
      opacity: 0;
      transition: width 0.3s ease-in-out, opacity 0.2s ease-in-out;

      @include screen("mobileAll") {
        display: none;
      }
    }

    &:hover {
      &::after {
        width: 100%;
        opacity: 1;
      }
    }
  }
}