@import '/src//styles/imports/theme';

.uhOh {
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    &__content {
        text-align: center;

        img {
            max-width: 100%;
            margin-bottom: $space-32;
        }

        a {
            margin: 0 auto;
        }
    }
}