@import "/src/styles/imports/theme";
@import "@/styles/imports/media-queries";

.splitContent {
    display: grid;
    grid-template-columns: 1fr;
    gap: $space-48;
    align-items: center;
    @include screen("desktopAll") {
        grid-template-columns: repeat(2, 1fr);
        gap: $space-80;
    }
}

.content {
    padding: 0 $space-32;
    @include screen("tablet-and-desktop") {
        padding: 0 $space-48;
    }
}

.image {
    @include screen("tablet-and-mobile") {
        padding: 0 $space-32;
    }
}